{% extends "users/base.html" %}

<h1>Here is main.html</h1>
{% block title %}
Log in
{% endblock title %}

{% block content %}
<!-- user name과 password를 'users:main' url로 post방식으로 호출
    post를 요청할 때 반드시 csrf 호출
-->
<div class="auth">
    <form action="{% url 'users:main' %}" method='post'>
        {% csrf_token %}
        <input type='input' name='username' placeholder="username">
        <input type='password' name='password' placeholder="password">
        <input type='submit' value='Login'>
    </form>
</div>

<div class="auth_link">
    <a href="{% url 'users:signup' %}">Sign up</a>
</div>

{% endblock content %}