{% extends "users/base.html" %}
{% load static %}

<h1>Here is SignUp page</h1>
{% block title %}
Sign up
{% endblock title %}

{% block content %}
<div class="auth_make">
    <img src="{% static 'images/posts/main_logo.png' %}" alt="logo">
    <form action="{% url 'users:signup' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
    
        <input type="submit" value="Sign Up" class="last">
    </form>
</div>
<div class="auth_link">
    <a href="{% url 'users:main' %}">로그인</a>
</div>

{% endblock content %}