{% load static %}

<nav class="navbar">
    <div class="navbar-img">
        <a href="">
            <img src="{% static 'images/posts/main_logo.png' %}" alt="logo">
        </a>
    </div>

    <div class="search">
        <input type="text" placeholder="Search">
    </div>

    <ul class="navbar-icons">
        <li><a href="{% url 'posts:index' %}">
            <i class="fas fa-home"></i>
        </a></li>
        <li><a href="{% url 'posts:create' %}">
            <i class="fas fa-camera-retro"></i>
        </a></li>
        <li><a href="{% url 'users:main' %}">
            <i class="fas fa-plus-circle"></i>
        </a></li>
        
    </ul>
</nav>
    
    <!--
    <a href="#" class="navbar-toggleBtn">
        <i class="fas fa-bars fa-2x"></i>
    </a>-->
    
