{% extends 'posts/base.html' %}
this is post detail html.

{% load static %}
{% block post %}
{% csrf_token %}


<div class="box">
    <div class="caption">
        <div class="name">                
            <a class = "user_image" href="#">
                <img src="{% static 'images/users/default_profile.png' %}">
            </a>
            {{ object.author }}
        </div>

        <div class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">         
                <i class="fas fa-bars fa-2x"></i>
            </a>
            {% if user == object.author %}
            <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="{% url 'posts:update' object.id %}">수정하기</a></li>
                <li><a class="dropdown-item" href="{% url 'posts:delete' object.id %}">삭제하기</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    <img src="{{ object.image.url }}" class="card-img" alt="" >

    <div class="textbox">
        <ul class="like-favorite">
            {% if user in object.like.all %}
            <li><a href="{% url 'posts:like' object.id %}" class="btn-like active">
                <i class="fas fa-heart"></i>
            </a></li>
            {% else %}
            <li><a href="{% url 'posts:like' object.id %}" class="btn-like">
                <i class="far fa-heart"></i>
            </a></li>
            {% endif %}

            {% if user in object.favorite.all %}
            <li><a href="{% url 'posts:favorite' object.id %}" class="btn-favorite active">
                <i class="fas fa-bookmark"></i>
            </a></li>
            {% else %}
            <li><a href="{% url 'posts:favorite' object.id %}" class="btn-favorite">
                <i class="far fa-bookmark"></i>
            </a></li>
            {% endif %}
        </ul>

        {% if object.like.all.count %}
        <div class="likecount">
            좋아요 {{object.like.all.count}} 개
        </div>
        {% endif %} 

        <div class="text">
            <strong>{{object.author}}</strong>  {{object.text}}
        </div>

        <ul class="time">
            {{ object.created_at|date:'Y년 m월 d일' }}</li>
        </ul>
    </div>
    
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
    this.page.url = "http://127.0.0.1:8000/p/{{ object.id }}/";
    this.page.identifier = "{{ object.id }}";
    this.language = "ko";
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://djangogram.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>
        Please enable JavaScript to view the 
        <a href="https://disqus.com/?ref_noscript">
            comments powered by Disqus.
        </a>
    </noscript>
                        
</div>
{% endblock %}
