{% extends 'posts/base.html' %}
this is post detail html.

{% load static %}
{% block post %}
{% csrf_token %}


<div class="box">
    <div class="caption">
        <div class="name">                
            <a class = "user_image" href="#">
                <img src="{% static 'images/users/default_profile.png' %}">
            </a>
            {{ object.author }}
        </div>

        <div class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">         
                <i class="fas fa-bars fa-2x"></i>
            </a>
            {% if user == object.author %}
            <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="{% url 'posts:update' object.id %}">수정하기</a></li>
                <li><a class="dropdown-item" href="{% url 'posts:delete' object.id %}">삭제하기</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    <img src="{{ object.image.url }}" class="card-img" alt="" >

    <div class="text"> 
        {{ object.text }}
    </div>
    
    <ul class="time">
        <li class="create">생성일 : {{ object.created_at }}</li>
        <li class="update">수정일 : {{ object.updated_at }}</li>
    </ul>
    
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
    this.page.url = "http://127.0.0.1:8000/p/{{ object.id }}/";
    this.page.identifier = "{{ object.id }}";
    this.language = "ko";
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://djangogram.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>
        Please enable JavaScript to view the 
        <a href="https://disqus.com/?ref_noscript">
            comments powered by Disqus.
        </a>
    </noscript>
                        
</div>
{% endblock %}
