{% extends 'posts/base.html' %}
this is post create html.

{% block post %}

<div class="box">
    <h2>새 글 작성하기</h2>
    <!-- enctype 추가하여 데이터형식을 입력한다고 알려줌 -->
    <form action=""  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="createtext">
            <div class="file">
                <input type="button" value="파일 선택" class="browse-btn">
            </div>
            {{ form.image }}
            
            <div id="image_container">
                <img id="img"/>
            </div>

            {{ form.text }}
        </div>
        <input type="submit" value="Upload" class="btn">
    </form>
    
</div>
{% endblock %}